<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staphylococcus phage Bongo</title>
</head>
<body>
<p><bold>Genome Length:</bold>&nbsp;10000 bp</p>
<p><bold>Predicted Phylogeny:</bold>&nbsp;Family and genus go here</p>
<p><bold>Predicted Lifecycle:</bold>&nbsp;Virulent</p>
<p><bold>Detected Genes of Concern*:</bold>&nbsp;No</p>


<p>*Genes of concern include putative toxin genes, antimicrobial resistance genes </p>

<h3>Software used:</h3>
<table>
    <th><td>Software</td><td>Version</td><td>Purpose</td><td>Link</td></th>
    <tr><td>Unicycler</td><td>0.5.0</td><td>Genome Assembly</td><td><a href="https://github.com/rrwick/Unicycler">https://github.com/rrwick/Unicycler</a></td></tr>
</table>

</body>
</html>
